.App {
  flex-direction: row;
  text-align: center;
  background-color: #282c34;
  height: 100%;
  flex: 1;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

#mapid { height: 180px; }

.App-Map {
  background-color: #282c34;
  height: 70vh;
  margin-top: 5vh;
  margin-left: 10vh;
  max-width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  background-color: #282c34;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-color-scheme: dark) {
  .map-tiles {
    filter:var(--map-tiles-filter, none);
  }
}
:root {
  --map-tiles-filter: brightness(0.6) invert(1) contrast(6) hue-rotate(300deg) saturate(0.4) brightness(0.8);
}
